{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary" style="margin-bottom: 10px;">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
<script>
    $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            endDate: '2y'
        });
    });
</script>