{% extends 'base.html.twig' %}

{% block title %}AddressBook index{% endblock %}

{% block body %}
    <h1>AddressBook index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>City</th>
                <th>Country</th>
                <th>Zip</th>
                <th>Phone</th>
                <th>Birth Day</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for address_book in address_books %}
            <tr>
                <td>{{ address_book.firstName }}</td>
                <td>{{ address_book.lastName }}</td>
                <td>{{ address_book.city }}</td>
                <td>{{ address_book.country }}</td>
                <td>{{ address_book.zip }}</td>
                <td>{{ address_book.phone }}</td>
                <td>{{ address_book.birthDay ? address_book.birthDay|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('address_book_show', {'id': address_book.id}) }}" class="btn btn-primary">Show</a>
                    <a href="{{ path('address_book_edit', {'id': address_book.id}) }}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('address_book_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
