{% extends 'base.html.twig' %}

{% block title %}New AddressBook{% endblock %}

{% block body %}
    <h1>Create new AddressBook</h1>

    {{ include('address_book/_form.html.twig') }}

    <a href="{{ path('address_book_index') }}" class="btn btn-info" style="margin-bottom: 10px;">back to list</a>
{% endblock %}
