{% extends 'base.html.twig' %}

{% block title %}AddressBook{% endblock %}

{% block body %}
    <h1>AddressBook</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ address_book.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ address_book.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ address_book.lastName }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ address_book.address }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ address_book.city }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ address_book.country }}</td>
            </tr>
            <tr>
                <th>Zip</th>
                <td>{{ address_book.zip }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ address_book.phone }}</td>
            </tr>
            <tr>
                <th>BirthDay</th>
                <td>{{ address_book.birthDay ? address_book.birthDay|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                {% if address_book.picture != '' %}
                <th>Picture</th>
                <td>
                    <div class="image" style="width:100px; height: 100px;">
                        <img src="{{ asset('/uploads/' ~ address_book.picture) }}" style="width: 100%;"/>
                    </div>
                </td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('address_book_index') }}" class="btn btn-info" style="margin-bottom: 10px;">Back to list</a>

    <a href="{{ path('address_book_edit', {'id': address_book.id}) }}" class="btn btn-primary" style="margin-bottom: 10px;">Edit</a>

    {{ include('address_book/_delete_form.html.twig') }}
{% endblock %}
